
<!-- About Section -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>About</h2>
      <p>Hello! I'm a computational social scientist and an assistant professor
        in <a href="https://oid.wharton.upenn.edu">Operations, Information, and
        Decisions</a>
        and <a href="https://statistics.wharton.upenn.edu/">Statistics and Data
        Science</a> at the Wharton School of the University of Pennsylvania. I
        study topics ranging from policing to causal inference and machine
        learning. My work uses many forms of data previously thought to be too
        messy or unstructured to study, such as audiovisual data conveying human
        emotion.</p>
      <p>I am
        an <a href="https://www.carnegie.org/awards/andrew-carnegie-fellows/2021/">Andrew
        Carnegie Fellow</a> and the inaugural recipient of <i>Science</i>'s
        <a href="https://www.science.org/content/page/2021-nomis-award-winners">NOMIS
        early career award</a> for interdisciplinary research. My research has
        appeared or is forthcoming in <i>Science</i>, the <i>Proceedings of the
        National Academy of Sciences</i>, <i>Nature Human Behavior</i>,
        the <i>Journal of the American Statistical Association</i>,
        <!-- the <i>Journal of Machine Learning Research</i>, --> and
        the <i>American Political Science Review</i>. It has been funded by the
        National Science Foundation, Arnold Ventures, Microsoft, and
        Facebook. It has also received the Gosnell Prize for excellence in
        political methodology, the John T. Williams dissertation prize, and the
        best poster award by the Society for Political Methodology.</p>
      <p>Please
      visit <a href="https://www.policingresearch.org">policingresearch.org</a> for work
      by my group, Research on Policing Reform and Accountability, co-founded
      with Jonathan Mummolo. I am also a faculty fellow
      at <a href="https://www.wharton.upenn.edu/analytics/">Analytics at
      Wharton</a> and an affiliate of
      the <a href="https://www.law.upenn.edu/institutes/quattronecenter/">Quattrone
      Center for the Fair Administration of Justice</a>.</p>
    </div>
  </div>
</section>
