
<!-- About Section -->
<section id="about" class="container content-section text-center">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2">
      <h2>About</h2>
      <p>Hello! I'm an assistant professor in politics at Princeton. I develop
        quantitative models and methods for new forms of social science
        data. These new sources include many forms of data previously thought to
        be too unstructured to study: audiovisual data conveying human emotion,
        path data for sequential decision-making, and mobile location data on
        movement and social interaction. My research touches on political
        communication and ethnic politics, including racialized policing in the
        United States and Sunni-Shia relations in the Middle East.</p>
      <p>My work has appeared or is forthcoming in <i>Science</i>,
        the <i>Journal of the American Statistical Association</i>,
        the <i>Proceedings of the National Academy of Sciences</i>, and
        the <i>American Political Science Review</i>. It received the John
        T. Williams dissertation prize and the best poster award by the Society
        for Political Methodology, and it has been supported by a NSF Graduate
        Research Fellowship.</p>
    </div>
  </div>
</section>
