<!-- Download Section -->
<section id="research" class="content-section text-center">
  <div class="research-section">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h2 style="font-color: black">Research</h2>

        <p>Fotini Christia, Elizabeth Dekeyser, and Dean
        Knox. Forthcoming. "Evidence on the Nature of Sectarian Animosity: The
        Shi‘a Case."
         <i><b>Nature Human Behavior</b></i> (Article).</p>
        <a href="files/ChristiaDekeyserKnox_NatureOriginsSectarianAnimosity.pdf"
           class="btn btn-default btn-lg">Download</a>
        
        <p>Dean Knox, Christopher Lucas, and Wendy K. Tam
              Cho. 2022. "Testing Causal Theories with Learned
              Proxies. <i><b>Annual Review of Political Science</b></i>
              (Invited).</p>
        <a href="files/KnoxLucasCho_CausalTheoriesLearnedProxies.pdf"
           class="btn btn-default btn-lg">Download</a>

        <p>Dean Knox. 2021. "Revealing Racial Bias: Causal Inference Can Make
        Sense of Imperfect Policing Data."
          <i><b>Science</b></i> (Essay).</p>
        <a href="files/Knox_CausalInferenceImperfectPolicingData.pdf"
           class="btn btn-default btn-lg">Download</a>
        
        <!-- <p>Justin Grimmer, Dean Knox, and Brandon Stewart. Conditionally -->
        <!-- accepted. "Na&iuml;ve regression requires weaker assumptions than factor -->
        <!-- models to adjust for multiple cause confounding." <i><b>Journal of -->
        <!-- Machine Learning Research</b></i>.</p> -->
        <!-- <a href="files/GrimmerKnoxStewart_NaiveRegressionDeconfounder.pdf" -->
        <!--    class="btn btn-default btn-lg">Download</a> -->

        <p>Dean Knox and Christopher Lucas. 2021. "A Dynamic Model of Speech for the
        Social Sciences." <i><b>American Political Science
        Review</b></i> (Manuscript).</p>
        <a href="files/KnoxLucas_DynamicModelSpeech.pdf" class="btn btn-default
        btn-lg">Download</a>

        <p>Bocar Ba, Dean Knox, Jonathan Mummolo, and Roman Rivera. 2021.  "The Role
        of Officer Race and Gender in Police-Civilian Interactions in Chicago."
        <i><b>Science</b></i> (Research Article).</p>
        <a href="files/BaKnoxMummoloRivera_DiversityPolicingRaceGender.pdf"
           class="btn btn-default btn-lg">Download</a>

        <p>Dean Knox, Will Lowe, and Jonathan
        Mummolo. 2020. "Administrative Records Mask Racially Biased
        Policing."
          <i><b>American Political Science
          Review</b></i> (Manuscript).</p>
        <a href="files/KnoxLoweMummolo_AdministrativeRecordsRaciallyBiasedPolicing_withSI.pdf"
        class="btn btn-default btn-lg">Download</a>

        <p>Dean Knox and Jonathan Mummolo. 2020. "Toward a General Causal
        Framework for the Study of Racial Bias in Policing."
          <i><b>Journal of Political Institutions and Political Economy</b></i> (Invited).</p>
        <a href="files/KnoxMummolo_GeneralCausalFrameworkRacialBiasPolicing.pdf"
        class="btn btn-default btn-lg">Download</a>

        <p>Fragile Families Challenge Team. 2020. "Measuring
        the predictability of life outcomes with a scientific mass
        collaboration." <i><b>Proceedings of the National Academy of
        Sciences</b></i> (Research Report).</p>
        <a href="files/FragileFamiliesTeam_MeasuringPredictabilityLifeOutcomes.pdf"
        class="btn btn-default btn-lg">Download</a>

        <p>Dean Knox and Jonathan Mummolo. 2020. "Making inferences about racial
        disparities in police violence." <i><b>Proceedings of the National
        Academy of Sciences</b></i> (Letter).</p>
        <a href="files/KnoxMummolo_InferencesRacialDisparities.pdf" class="btn
btn-default btn-lg">Download</a>

        <p>Samuel Mehr, Manvir Singh, Dean Knox, Daniel Ketter, Daniel
          Pickens-Jones, Stephanie Atwood, Christopher Lucas, Nori Jacoby, Alena
          Egner, Erin Hopkins, Rhea Howard, Joshua Hartshorne, Mariela Jennings,
          Jan Simson, Constance Bainbridge, Steven Pinker, Timothy O'Donnell,
          Max Krasnow, and Luke Glowacki. 2019. "Universality and Diversity in
          Human Song." <i><b>Science</b></i> (Research Article).</p>
        <a href="files/MehrSinghKnoxEtAl_UniversalityDiversityHumanSong.pdf"
        class="btn btn-default btn-lg">Download</a>
        
        <p>Dean Knox, Teppei Yamamoto, Matthew Baum, and Adam
        Berinsky. 2019. "Design, Identification, and Sensitivity Analysis for
        Patient Preference Trials." <i><b>Journal of the American Statistical
        Association</b></i> (Applications and Case Studies).</p>
        <a href="files/KnoxYamamotoBaumBerinsky_DesignIdentificationSensitivityPPT.pdf"
        class="btn btn-default btn-lg">Download</a>

        <h3>Other</h3>

        <p>Dean Knox and Jonathan Mummolo. 2020. "A widely touted study found no
        evidence of racism in police shootings. It’s full of
        errors." <i><b>Washington Post</b></i>.</p>
        <a href="https://www.washingtonpost.com/outlook/2020/07/15/police-shooting-study-retracted/"
           class="btn btn-default btn-lg">Link</a>
        

        <p>Dean Knox and Jonathan Mummolo. 2020. "It took us months to contest a
        flawed study on police bias. Here's why that's
        dangerous." <i><b>Washington Post</b></i>.</p>
        <a href="https://www.washingtonpost.com/opinions/2020/01/28/it-took-us-months-contest-flawed-study-police-bias-heres-why-thats-dangerous/"
           class="btn btn-default btn-lg">Link</a>

        <h3>Submitted</h3>

        <p>Justin Grimmer, Dean Knox, and Brandon Stewart. Conditionally
        accepted. "Na&iuml;ve regression requires weaker assumptions than factor
        models to adjust for multiple cause confounding." Conditionally accepted.</p>
        <a href="files/GrimmerKnoxStewart_NaiveRegressionDeconfounder.pdf"
           class="btn btn-default btn-lg">Download</a>

        <p>Guilherme Duarte, Noam Finkelstein, Dean Knox, Jonathan Mummolo, and
        Ilya Shpitser. "An Automated Solution to Causal Inference in Discrete
        Settings." Revise & resubmit.</p>
        <a href="files/DuarteEtAl_Autobounds.pdf"
           class="btn btn-default btn-lg">Download</a>
        
        <p>Cody Moser, Harry Lee-Rubin, Constance Bainbridge, Stephanie Atwood,
          Jan Simson, Dean Knox, Luke Glowacki, Andrzej Galbarczyk, Grazyna
          Jasienska, Cody Ross, Mary Neff, Alia Martin, Laura Cirelli, Sandra
          Trehub, Jinqi Song, Minju Kim, Adena Schachner, Tom Vardy, Quentin
          Atkinson, Jan Antfolk, Purnima Madhivanan, Anand Siddaiah, Caitlyn
          Placek, Gul Deniz Salali, Sarai Keestra, Manvir Singh, Scott Collins,
          John Patton, Camila Scaff, Jonathan Stieglitz, Cristina Moya, Rohan
          Sagar, Brian Wood, Max Krasnow, and Samuel Mehr. "Acoustic regularities
          in infant-directed vocalizations across cultures."  Revise &
          resubmit.</p>
        <a href="https://www.biorxiv.org/content/10.1101/2020.04.09.032995v3"
           class="btn btn-default btn-lg">Download</a>

        <p>Andrew Reece, Gus Cooney, Peter Bull, Christine Chung, Bryn Dawson, Casey
          Fitzpatrick, Tamara Glazer, Dean Knox, Alex Liebscher, and Sebastian
          Marin. "Advancing an Interdisciplinary Science of Conversation: Insights from a
          Large Multimodal Corpus of Human Speech."</p>
        <a href="https://psyarxiv.com/ts43f/"
           class="btn btn-default btn-lg">Download</a>

        <p>Bocar Ba, Jacob Kaplan, Dean Knox, Mayya Komisarchik, Rachel Mariman,
          Jonathan Mummolo, Roman Rivera, and Michelle Torres. "Who are the
          Police? Descriptive Representation in the Coercive Arm of
          Government."</p>
        <!-- <a href="files/BaEtAl_WhoAreThePolice.pdf" -->
        <!--    class="btn btn-default btn-lg">Download</a> -->


        <p>Dean Knox, Will Lowe, and Jonathan Mummolo. "Can Racial Bias in
        Policing Be Credibly Estimated Using Data Contaminated by Post-Treatment
        Selection?"</p>
        <a href="files/KnoxLoweMummolo_RacialBiasContaminatedDataPostTreatmentSelection.pdf"
        class="btn btn-default btn-lg">Download</a>


        <h3 style="margin-top: 100px">Selected Working Papers</h3>

        <p>Dean Knox. "<kbd>ffgrep</kbd>: Scalable Approximate String
        Matching."</p>
        <a href="files/Knox_ffgrep.pdf" class="btn btn-default
        btn-lg">Download</a>

        <p>Fotini Christia, Dean Knox, and Jaffar Al-Rikabi. "Networks of
        Sectarianism: Experimental Evidence on Access to Services in
        Baghdad."</p>
        <a href="files/ChristiaKnoxAlRikabi_NetworksOfSectarianism.pdf"
        class="btn btn-default btn-lg">Download</a>
        
        <p>Dean Knox. "A Model for Path Data."</p>
        <a href="files/Knox_RandomPaths.pdf" class="btn btn-default
        btn-lg">Download</a>

        <p>Dean Knox, Jake Hofman, and Duncan Watts. "The Structure and Dynamics
        of Diffusive Conversations."</p>

        

      </div>
    </div>
  </div>
</section>
