<!-- Download Section -->
<section id="research" class="content-section text-center">
  <div class="research-section">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h2 style="font-color: black">Research</h2>

        <p>Naijia Liu, Xinlan Emily Hu, Yasemin Savas, Matthew Baum, Adam
           Berinsky, Allison Chaney, Christopher Lucas, Rei Mariman, Justin de
           Benedictis-Kessner, Andrew Guess, Dean Knox, and Brandon
           Stewart. Forthcoming. "Short-term exposure to filter-bubble
           recommendation systems has limited polarization effects: Naturalistic
           experiments on YouTube." <i><b>Proceedings of the National Academy of
           Sciences</b></i> (Research Report).</p>
	<a href="files/LiuEtAl_AlgoRecsLimitedPolarizationYouTube.pdf"
           class="btn btn-default btn-lg">Download</a>

        <p>Taylor Damann, Dean Knox, and Christopher Lucas. Conditionally
        accepted. "A framework for studying causal effects of speech style:
        Application to U.S.  presidential campaigns." <i><b>Journal of the Royal
        Statistical Society: Series A</b></i>.</p>
        <a href="files/DamannKnoxLucas_CausalEffectsSpeechStyle.pdf"
           class="btn btn-default btn-lg">Download</a>        

        <p>Bocar Ba, Haosen Ge, Jacob Kaplan, Dean Knox, Mayya Komisarchik,
          Gregory Lanzalotto, Rei Mariman, Jonathan Mummolo, Roman Rivera, and
          Michelle Torres. Forthcoming. "Political diversity in
          U.S. police agencies." <i><b>American Journal of Political Science</b></i>.</p>
        <a href="files/BaEtAl_PoliticalDiversityPoliceAgencies.pdf"
           class="btn btn-default btn-lg">Download</a>

        <p>Justin Grimmer, Dean Knox, and Brandon Stewart. 2023. "Na&iuml;ve
        regression requires weaker assumptions than factor models to adjust for
        multiple cause confounding." <i><b>Journal of Machine Learning
        Research</b></i>.</p>
        <a href="files/GrimmerKnoxStewart_NaiveRegressionDeconfounder.pdf"
           class="btn btn-default btn-lg">Download</a>
	
        <p>Guilherme Duarte, Noam Finkelstein, Dean Knox, Jonathan Mummolo, and
        Ilya Shpitser. 2023. "An automated solution to causal inference in
        discrete settings." <i><b>Journal of the American Statistical
        Association</b></i> (Theory and Methods).</p>
        <a href="files/DuarteEtAl_Autobounds.pdf"
           class="btn btn-default btn-lg">Download</a>&nbsp;
	<a href="http://ec2-3-16-143-211.us-east-2.compute.amazonaws.com/"
           class="btn btn-default btn-lg">Demo</a>

        <p>Andrew Reece, Gus Cooney, Peter Bull, Christine Chung, Bryn
          Dawson, Casey Fitzpatrick, Tamara Glazer, Dean Knox, Alex
          Liebscher, and Sebastian Marin. 2023. "Advancing an
          interdisciplinary science of conversation: Insights from a
          large multimodal corpus of human speech." <i><b>Science
          Advances</b></i> (Research Article).</p>
        <a href="files/ReeceEtAl2023_LargeMultimodalDatasetNaturalisticConversation.pdf"
           class="btn btn-default btn-lg">Download</a>

        <p>Courtney Hilton, Cody Moser, Mila Bertolo, Harry Lee-Rubin, Dorsa
          Amir, Constance Bainbridge, Jan Simson, Dean Knox, Luke Glowacki,
          Andrzej Galbarczyk, Grazyna Jasienska, Cody Ross, Mary Beth Neff, Alia
          Martin, Laura Cirelli, Sandra Trehub, Jinqi Song, Minju Kim, Adena
          Schachner, Tom Vardy, Quentin Atkinson, Jan Antfolk, Purnima
          Madhivanan, Anand Siddaiah, Caitlyn Placek, Gul Deniz Salali, Sarai
          Keestra, Manvir Singh, Scott Collins, John Patton, Camila Scaff,
          Jonathan Stieglitz, Cristina Moya, Rohan Sagar, Brian Wood, Max
          Krasnow, Samuel Mehr. 2022. "Acoustic regularities in infant-directed
          speech and song across cultures."
          <i><b>Nature Human Behavior</b></i> (Article).</p>
        <a href="files/HiltonEtAl_AcousticRegularitiesInfantSpeechSong.pdf"
           class="btn btn-default btn-lg">Download</a>

        <p>Fotini Christia, Elizabeth Dekeyser, and Dean
          Knox. 2022. "Evidence on the nature of sectarian animosity: The
          Shi‘a case."
         <i><b>Nature Human Behavior</b></i> (Article).</p>
        <a href="files/ChristiaDekeyserKnox_NatureSectarianAnimosity.pdf"
           class="btn btn-default btn-lg">Download</a>
        
        <p>Dean Knox, Christopher Lucas, and Wendy K. Tam
              Cho. 2022. "Testing causal theories with learned
              proxies." <i><b>Annual Review of Political Science</b></i>
              (Invited).</p>
        <a href="files/KnoxLucasCho_CausalTheoriesLearnedProxies.pdf"
           class="btn btn-default btn-lg">Download</a>

        <p>Dean Knox. 2021. "Revealing racial bias: Causal inference can make
        sense of imperfect policing data."
          <i><b>Science</b></i> (Essay).</p>
        <a href="files/Knox_CausalInferenceImperfectPolicingData.pdf"
           class="btn btn-default btn-lg">Download</a>
        
        <p>Dean Knox and Christopher Lucas. 2021. "A dynamic model of speech for the
        social sciences." <i><b>American Political Science
        Review</b></i> (Manuscript).</p>
        <a href="files/KnoxLucas_DynamicModelSpeech.pdf" class="btn btn-default
        btn-lg">Download</a>

        <p>Bocar Ba, Dean Knox, Jonathan Mummolo, and Roman Rivera. 2021.  "The role
        of officer race and gender in police-civilian interactions in Chicago."
        <i><b>Science</b></i> (Research Article).</p>
        <a href="files/BaKnoxMummoloRivera_DiversityPolicingRaceGender.pdf"
           class="btn btn-default btn-lg">Download</a>

        <p>Dean Knox, Will Lowe, and Jonathan
        Mummolo. 2020. "Administrative records mask racially biased
        policing."
          <i><b>American Political Science
          Review</b></i> (Manuscript).</p>
        <a href="files/KnoxLoweMummolo_AdministrativeRecordsRaciallyBiasedPolicing_withSI.pdf"
        class="btn btn-default btn-lg">Download</a>

        <p>Dean Knox and Jonathan Mummolo. 2020. "Toward a general causal
        framework for the study of racial bias in policing."
          <i><b>Journal of Political Institutions and Political Economy</b></i> (Invited).</p>
        <a href="files/KnoxMummolo_GeneralCausalFrameworkRacialBiasPolicing.pdf"
        class="btn btn-default btn-lg">Download</a>

        <p>Fragile Families Challenge Team. 2020. "Measuring
        the predictability of life outcomes with a scientific mass
        collaboration." <i><b>Proceedings of the National Academy of
        Sciences</b></i> (Research Report).</p>
        <a href="files/FragileFamiliesTeam_MeasuringPredictabilityLifeOutcomes.pdf"
        class="btn btn-default btn-lg">Download</a>

        <p>Dean Knox and Jonathan Mummolo. 2020. "Making inferences about racial
        disparities in police violence." <i><b>Proceedings of the National
        Academy of Sciences</b></i> (Letter).</p>
        <a href="files/KnoxMummolo_InferencesRacialDisparities.pdf" class="btn
btn-default btn-lg">Download</a>

        <p>Samuel Mehr, Manvir Singh, Dean Knox, Daniel Ketter, Daniel
          Pickens-Jones, Stephanie Atwood, Christopher Lucas, Nori Jacoby, Alena
          Egner, Erin Hopkins, Rhea Howard, Joshua Hartshorne, Mariela Jennings,
          Jan Simson, Constance Bainbridge, Steven Pinker, Timothy O'Donnell,
          Max Krasnow, and Luke Glowacki. 2019. "Universality and diversity in
          human song." <i><b>Science</b></i> (Research Article).</p>
        <a href="files/MehrSinghKnoxEtAl_UniversalityDiversityHumanSong.pdf"
        class="btn btn-default btn-lg">Download</a>
        
        <p>Dean Knox, Teppei Yamamoto, Matthew Baum, and Adam
        Berinsky. 2019. "Design, identification, and sensitivity analysis for
        patient preference trials." <i><b>Journal of the American Statistical
        Association</b></i> (Applications and Case Studies).</p>
        <a href="files/KnoxYamamotoBaumBerinsky_DesignIdentificationSensitivityPPT.pdf"
        class="btn btn-default btn-lg">Download</a>

        <h3>Other</h3>

        <p>Jennifer Wyatt Bourgeois, Anna Haensch, Saatvik Kher, Dean Knox,
        Gregory Lanzalotto, and Tian An Wong. 2024. "How to Use Causal Inference
        to Study Use of Force." <i><b>CHANCE Magazine</b></i>.</p>
        <a href="files/BourgeoisEtAl2024_CausalInferenceUseOfForce.pdf"
        class="btn btn-default btn-lg">Download</a>

        <p>Dean Knox and Jonathan Mummolo. 2020. "A widely touted study found no
        evidence of racism in police shootings. It’s full of
        errors." <i><b>Washington Post</b></i>.</p>
        <a href="https://www.washingtonpost.com/outlook/2020/07/15/police-shooting-study-retracted/"
           class="btn btn-default btn-lg">Link</a>
        

        <p>Dean Knox and Jonathan Mummolo. 2020. "It took us months to contest a
        flawed study on police bias. Here's why that's
        dangerous." <i><b>Washington Post</b></i>.</p>
        <a href="https://www.washingtonpost.com/opinions/2020/01/28/it-took-us-months-contest-flawed-study-police-bias-heres-why-thats-dangerous/"
           class="btn btn-default btn-lg">Link</a>

        <h3>Submitted</h3>

        <p>Justin Grimmer, Dean Knox, and Sean Westwood. "Assessing the
        Reliability of Probabilistic U.S. Presidential Election Forecasts May
        Take Decades."</p>
        <a href="files/GrimmerKnoxWestwood_AssessingReliabilityPresidentialElectionForecasts.pdf"
           class="btn btn-default btn-lg">Download</a>        


        <!-- <h3 style="margin-top: 100px">selected working papers</h3> -->

        <!-- <p>dean knox. "<kbd>ffgrep</kbd>: scalable approximate string -->
        <!-- matching."</p> -->
        <!-- <a href="files/knox_ffgrep.pdf" class="btn btn-default -->
        <!-- btn-lg">download</a> -->

        <!-- <p>fotini christia, dean knox, and jaffar al-rikabi. "networks of -->
        <!-- sectarianism: experimental evidence on access to services in -->
        <!-- baghdad."</p> -->
        <!-- <a href="files/christiaknoxalrikabi_networksofsectarianism.pdf" -->
        <!-- class="btn btn-default btn-lg">download</a> -->
        
        <!-- <p>dean knox. "a model for path data."</p> -->
        <!-- <a href="files/knox_randompaths.pdf" class="btn btn-default -->
        <!-- btn-lg">download</a> -->

        <!-- <p>dean knox, jake hofman, and duncan watts. "the structure and dynamics -->
        <!-- of diffusive conversations."</p> -->

        

      </div>
    </div>
  </div>
</section>
