<!-- Download Section -->
<section id="research" class="content-section text-center">
  <div class="research-section">
    <div class="container">
      <div class="col-lg-8 col-lg-offset-2">
        <h2 style="font-color: black">Research</h2>

        <p>Dean Knox, Will Lowe, and Jonathan Mummolo. Forthcoming. "The Bias is
          Built In: How Administrative Records Mask Racially Biased Policing."
          <i><b>American Political Science
          Review</b></i>.</p>
        <a href="files/KnoxLoweMummolo_BiasBuiltIn.pdf" class="btn btn-default
        btn-lg">Download</a>

        <p>Fragile Families Challenge Team. Forthcoming. "Measuring
        the predictability of life outcomes with a scientific mass
        collaboration." <i><b>Proceedings of the National Academy of
        Sciences</b></i> (Research Report).</p>
        <a href="" class="btn btn-default btn-lg">Embargoed</a>

        <p>Dean Knox and Jonathan Mummolo. 2020. "Making inferences about racial
        disparities in police violence." <i><b>Proceedings of the
        National Academy of Sciences</b></i> (Letter).</p>
        <a href="files/KnoxMummolo_InferencesRacialDisparities.pdf"
class="btn btn-default btn-lg">Download</a>

        <p>Samuel Mehr, Manvir Singh, Dean Knox, Daniel Ketter, Daniel
          Pickens-Jones, Stephanie Atwood, Christopher Lucas, Nori Jacoby, Alena
          Egner, Erin Hopkins, Rhea Howard, Joshua Hartshorne, Mariela Jennings,
          Jan Simson, Constance Bainbridge, Steven Pinker, Timothy O'Donnell,
          Max Krasnow, and Luke Glowacki. 2019. "Universality and Diversity in
          Human Song." <i><b>Science</b></i> (Research Article).</p>
        <a href="files/MehrSinghKnoxEtAl_UniversalityDiversityHumanSong.pdf"
        class="btn btn-default btn-lg">Download</a>
        
        <p>Dean Knox, Teppei Yamamoto, Matthew Baum, and Adam
        Berinsky. 2019. "Design, Identification, and Sensitivity Analysis for
        Patient Preference Trials." <i><b>Journal of the American Statistical
        Association</b></i>.</p>
        <a href="files/KnoxYamamotoBaumBerinsky2019_DesignIdentificationSensitivityPPT.pdf"
        class="btn btn-default btn-lg">Download</a>

        <h3>Other</h3>

        <p>Dean Knox and Jonathan Mummolo. 2020. "It took us months to contest a
        flawed study on police bias. Here’s why that’s
        dangerous." <i><b>Washington Post</b></i>.</p>
        <a href="https://www.washingtonpost.com/opinions/2020/01/28/it-took-us-months-contest-flawed-study-police-bias-heres-why-thats-dangerous/"
           class="btn btn-default btn-lg">Link</a>

        <h3>Submitted</h3>

        <p>Dean Knox and Christopher Lucas. "A Dynamic Model of Speech for the
        Social Sciences." Revise and resubmit, <i><b>American Political Science
        Review</b></i>.</p>
        <a href="files/KnoxLucas_DynamicModelSpeech.pdf" class="btn btn-default
        btn-lg">Download</a>

        <p>Bocar Ba, Dean Knox, Jonathan Mummolo, and Roman Rivera. "The Impact
        of Racial and Ethnic Diversity in Policing."
        <a href="files/BaKnoxMummoloRivera_RacialEthnicDiversityPolicing.pdf"
        class="btn btn-default btn-lg">Download</a>
        
        <p>Fotini Christia, Elizabeth Dekeyser, and Dean Knox. "The Nature and
        Origins of Sectarian Animosity."</p>
        <a href="files/ChristiaDekeyserKnox_NatureOriginsSectarianAnimosity.pdf"
        class="btn btn-default btn-lg">Download</a>

        <h3 style="margin-top: 100px">Selected Working Papers</h3>

        <p>Dean Knox. "<kbd>ffgrep</kbd>: Scalable Approximate String
        Matching."</p>
        <a href="files/Knox_ffgrep.pdf" class="btn btn-default
        btn-lg">Download</a>

        <p>Fotini Christia, Dean Knox, and Jaffar Al-Rikabi. "Networks of
        Sectarianism: Experimental Evidence on Access to Services in
        Baghdad."</p>
        <a href="files/ChristiaKnoxAlRikabi_NetworksOfSectarianism.pdf"
        class="btn btn-default btn-lg">Download</a>
        
        <p>Dean Knox. "A Model for Path Data."</p>
        <a href="files/Knox_RandomPaths.pdf" class="btn btn-default
        btn-lg">Download</a>

        <p>Dean Knox, Jake Hofman, and Duncan Watts. "The Structure and Dynamics
        of Diffusive Conversations."</p>

        

      </div>
    </div>
  </div>
</section>
